body{
    text-align: center;
}
#app{
    background-color: gold;
}

#usynlig{
    background-color: white;

    
}

img{
    margin-top: 20px;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}